body, main{
	display:flex;
}
header{
	background-color: yellow;
	border: 1px white;
}
main{
	flex-direction: row;
	flex: auto;
}
article{
	flex:2;
	overflow-y: auto;
	background-color: orange;
}
aside{
	flex:1;
	overflow-y: auto;
}
